.navbar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(255,229,0);
    height: 3rem;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.search-box {
    width: 55%;
    height: 2rem
}

.logo {
    width: 5vw;
    height: 5vh;
    margin-right: 1%
}

.search-button {
    color: rgb(211,211,211);
    margin-left: 0;
    height: 2rem;
}