.card {
    background-color: white;
    width: 70%;
    height: 80%;
    overflow: auto;
    overflow-x: hidden;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}

.card::-webkit-scrollbar {
    width: 0.2em;
}

.card::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

@media (max-width: 480px) {
    .card {
        height: 60%;
        margin-top: 25%;
    }
    /* .container {
        height: 38rem;
    } */
}

.item-img {
    width: 60%;
    height: 60%;
    margin-left: 1%;
    margin-top: 1%;
    position: flex;
}

.item-box {
    word-wrap: break-word;
    max-width: 30%;
    position: relative;
    float:right;
    top: 0;
    height: 60%;
    margin-right: 5%;
    margin-top: 1%;
}

.item-box-price {
    font-weight: bold;
}

.item-box-btn {
    display: inline-block;
    width: 100%;
    background-color: blue;
}

.item-box-pricing {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.item-description {
    margin-top: 1%;
    margin-left: 1%;
}

@media screen and (max-width: 480px) {
    .item-img {
        width: 68vw;
        margin-top: 1%
    }
    .item-box {
        display: inline;
        float:none;
        text-align: center;
    }
}