.navbar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(255,229,0);
    height: 3rem;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.search-box {
    width: 54%;
    height: 2rem;
    padding-left: 1%;
}

.logo {
    width: 5vw;
    height: 5vh;
    margin-right: 1%
}

.search-button {
    color: rgb(211,211,211);
    margin-left: 0;
    height: 80%;
}

@media (max-width: 480px) {
    .logo {
        width: 13vw;
    }
}