.item-img {
    width: 60%;
    height: 60%;
    margin-left: 1%;
    margin-top: 1%;
    position: flex;
}

.item-box {
    word-wrap: break-word;
    max-width: 30%;
    position: relative;
    float:right;
    top: 0;
    height: 60%;
    margin-right: 5%;
    margin-top: 1%;
}

.item-box-price {
    font-weight: bold;
}

.item-box-btn {
    display: inline-block;
    width: 100%;
    height: 5vh;
    background-color:rgb(65,105,225);
    color: white;
}

.item-box-pricing {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.item-description-text {
    white-space: pre-wrap;
    word-wrap: break-word; 
}

.item-description {
    word-wrap: break-word;
    max-width: 100%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (max-width: 480px) {
    .item-img {
        width: 98%;
        height: 40%;
        margin-top: 1%
    }
    .item-box {
        display: inline;
        float:none;
        text-align: center;
    }
    .item-box-pricing {
        position: relative;
    }
    .item-box-btn {
        width: 90%;
    }
}