.item-row {
    cursor: pointer;
    background-color: white;
    width: 100%;
    height:25%;
    display: flex;
}

.item-row-name {
    font-size: 2vh;
    font-weight: normal;
}

.item-row-price {
    margin-top:1%;
    font-weight: bold;
    font-size: 4vh;
}

.item-row-img {
    width: 20%;
    height: 90%;
    margin:auto;
    margin-left:1%;

}

.item-row:hover {
    background-color: rgb(187, 187, 187)
  }

.item-row-container {
    word-wrap: break-word;
    display: inline;
    margin-left: 2%;
    width: 80%;
    max-width: 80%;
    margin-top: 3%;
    /* margin-right: 25%; */
}

@media (max-width: 480px) {
    .item-row-container {
        max-width: 60%;
        padding-right: 5%;
    }
    .item-row-name {
        font-size: 1.5vh;
    }
    .item-row-price{
        font-size: 3vh;
    }
    .item-row-img {
        width:30%
    }
}